/* *Estilos de la vista Historial* */

.historial-content {
  width: 90%;
  max-width: 480px;
  margin: 2rem auto;
  padding-bottom: 2rem;
}

.historial__vacio {
  margin: 2rem auto;
  text-align: center;
  color: var(--color-text-muted);
}